cache
db
!backend/db
main.release.ts
deno.lock
pup.jsonc.status
.pup.jsonc*
pup.jsonc.ipc
.pup
.pup.jsoc-data
.pup.jsoc-tmp

# Fresh build directory
_fresh/

# Node modules (npm packages)
node_modules/
